html, body {
  margin: 0;

}
.pointer {
  cursor: pointer;
}
.flx-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@font-face {
  font-family: LM;
  src: url(@/assets/fonts/LianMengQiYiLuShuaiZhengRuiHeiTi-2.ttf);
}